/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: -255px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
   /* transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        box-shadow: 3px 4px 8px rgba(3,3,3,0.8);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
/*    font-size: 25px;*/
    color: #818181;
    display: block;
   /* transition: 0.3s*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    font-weight:500;
    margin-left: 50px;
}

.sidenav .code-text{
    z-index:1;
    color:#fdfdfd;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}
.help-text{
     z-index:1;
    color:#fdfdfd;
    width:100%;
    padding-left:10px;
    padding-right:10px;   
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.tab{
    background-color: #111; 
    position:fixed;
    z-index:1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height:43px;
    width:43px;
    left:-5px;
    text-align:center;
    box-shadow: 5px 2px 4px rgba(3,3,3,0.8);
}

.tab span{
   font-size:25px;
   font-weight:500;
       text-decoration: none;
    color: #818181;
    display: block;
}
.code-tab{
    top:20px;
}

.help-tab{
    bottom:20px;
}

/* When you mouse over the navigation links, change their color */
.tab span:hover, .offcanvas span:focus{
    color: #f1f1f1;
}
.sidenav ol { padding-left: 1em; }

